@font-face {
    font-family: 'visitor';
    src: url('../fonts/visitor.ttf') format('truetype');
}

body {
    background-color: black;
    color: white;
    font-family: 'visitor';
}

.source {
    position:absolute;
    top:0;
    left:2;
    text-align:left;
    opacity:0.5;
    letter-spacing: 3px;
    padding:5px;
}

.music {
    position:fixed;
    bottom:0;
    right:0;
    width:32px;
    opacity:0.9;
}

#page {
    width: 70%;
    height: 30%;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
    transition-duration: .4s;
}

#title {
    font-size: 50px;
    text-align:center;
    font-family: 'Arial';
}

#wip {
    text-align:right;
    opacity:0.8;
}
